        <div class="tabela-items">
            <table>
                <tr>
                    <th>DESCRIÇÃO</th>
                    <th>QTD</th>
                    <th>UNID</th>
                    <th>UNITÁRIO</th>
                    <th>TOTAL</th>
                </tr>
                {{itens}}
                <tr class="total-line">
                    <th class="total-bar"></th>
                    <th class="total-bar"></th>
                    <th class="total-bar"></th>
                    <th class="total">TOTAL</th>
                    <th class="total">R${{total}}</th>
                </tr>
            </table>
        </div>
    </div>
